.grid {
  display: grid;
  column-gap: 6rem;
  row-gap: 4rem;
  grid-template-columns: 1fr;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
