@use '../abstracts/' as a;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: a.$color-grey-5;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

// Default strong tags are TOO strong!
strong {
  font-weight: 500;
}

// TODO: Should this be a Component?
.link {
  &:link,
  &:visited {
    display: inline-block;
    color: a.$color-primary-5;
    border-bottom: 2px solid a.$color-primary-5;
    padding-bottom: 3px;
    text-decoration: none;
    transition: 0.3s ease-in-out;
  }

  // TODO: This transition doesn't look good!
  &:hover,
  &:active {
    border-bottom-color: transparent;
  }
}

blockquote {
  quotes: '' '';
}
