@use '../abstracts/' as a;

.heading--primary {
  color: a.$color-grey-7;
  font-size: clamp(1.75rem, 1.25rem + 2vw, 3.25rem);
  font-weight: 600;
  letter-spacing: -0.5px;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.heading--secondary {
  color: a.$color-grey-7;
  font-size: 2.75rem;
  // 1.8em to 2.75em on a 48em-120em viewport
  font-size: clamp(1.8rem, calc(1.8rem + ((1vw - 0.48rem) * 2.9688)), 2.75rem);
  letter-spacing: -0.5px;
  line-height: 1.2;
  margin-bottom: 2.4rem;

  @include a.breakpoint(md) {
    margin-bottom: 6rem;
  }
}

.heading--tertiary {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.subheading {
  // Sub-headings are spans -- we don't want their default inline nature
  display: block;
  color: a.$color-primary-6;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.heading--featured-in {
  color: #888;
  font-size: clamp(0.75rem, calc(0.75rem + ((1vw - 0.48rem) * 0.3472)), 1rem);
  font-weight: 500;
  letter-spacing: 0.75px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
