@use '../abstracts/' as a;

// .button is actually an anchor tag
.button,
.button:link,
.button:visited {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  text-align: center;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.button--primary:link,
.button--primary:visited {
  background-color: a.$color-primary-5;
  color: #fff;

  &:hover,
  &:active {
    background-color: a.$color-primary-6;
  }
}

.button--secondary:link,
.button--secondary:visited {
  background-color: #fff;
  color: a.$color-grey-5;
  border: 3px solid transparent;

  &:hover,
  &:active {
    background-color: a.$color-grey-1;
    border-color: #fff;
  }
}

.button--form {
  border: none;
  cursor: pointer;
  background-color: #45260a;
  color: a.$color-grey-1;
  padding: 0.75rem;
  align-self: end;
  margin-top: 0.6rem;

  @include a.breakpoint(lg) {
    margin-top: 0;
  }

  &:hover,
  &:active {
    background-color: #fff;
    color: #45260a;
  }
}

.button--mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;

  @include a.breakpoint(md) {
    display: none;
  }

  [name='close-outline'] {
    display: none;
  }
}
