// .button is actually an anchor tag
.button:link,
.button:visited {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.button--primary:link,
.button--primary:visited {
  background-color: #e67e22;
  color: #fff;

  &:hover,
  &:active {
    background-color: #cf711f;
  }
}

.button--secondary:link,
.button--secondary:visited {
  background-color: #fff;
  color: #555;
  border: 3px solid transparent;

  &:hover,
  &:active {
    background-color: #fdf2e9;
    border-color: #fff;
  }
}
