@use '../abstracts/' as a;

// .button is actually an anchor tag
.button:link,
.button:visited {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 0.75rem;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.button--primary:link,
.button--primary:visited {
  background-color: a.$color-primary-5;
  color: #fff;

  &:hover,
  &:active {
    background-color: a.$color-primary-6;
  }
}

.button--secondary:link,
.button--secondary:visited {
  background-color: #fff;
  color: a.$color-grey-5;
  border: 3px solid transparent;

  &:hover,
  &:active {
    background-color: a.$color-grey-1;
    border-color: #fff;
  }
}
