@use '../abstracts' as a;

// Section - Hero
// TODO: Hero Buttons could be spaced less vertically on mobile
.section--hero {
  background-color: #f2f2e9;
  padding-block: 6rem;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  align-items: center;
  width: min(100% - 2rem, 81.25rem);
  margin: 0 auto;

  @include a.breakpoint(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero__description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

// Section - Featured In
// TODO: Logos could be handled more elegantly rather than just wrapping
.section--featured {
  padding-block: 3rem;
}

.featured-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem;
}

.featured-logos > img {
  height: 1.25rem;
  filter: brightness(0%) opacity(50%);

  @include a.breakpoint(lg) {
    height: 2rem;
  }
}

// Section - How it Works
.section--how {
  padding-block: 6rem;
}

// Section - Meals
.section--meals {
  padding-block: 6rem;

  // TODO: Easier way to make responsive
  // TODO: Perhaps don't use a "re-usable" Grid class!
  .grid {
    @include a.breakpoint(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include a.breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    > :last-child {
      grid-row: 3;
      justify-self: center;

      @include a.breakpoint(md) {
        grid-row: 2;
        grid-column: 1 / span 2;
      }

      @include a.breakpoint(lg) {
        grid-row: 1;
        grid-column-start: 3;
      }
    }
  }
}

// Section - Diets
.all-recipes {
  font-size: 1.125rem;
  text-align: center;
}
