@use '../abstracts' as a;

// Section - Hero
// TODO: Hero Buttons could be spaced less vertically on mobile
.section--hero {
  background-color: #f2f2e9;
  padding-block: 6rem;
}

.hero__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6rem;
  align-items: center;
  width: min(100% - 2rem, 81.25rem);
  margin: 0 auto;

  @include a.breakpoint(lg) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.hero__description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}

// Section - Featured In
// TODO: Logos could be handled more elegantly rather than just wrapping
.section--featured {
  padding-block: 3rem;
}

.featured-logos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 2rem;
}

.featured-logos > img {
  height: 1.25rem;
  filter: brightness(0%) opacity(50%);

  @include a.breakpoint(lg) {
    height: 2rem;
  }
}

// Section - How it Works
.section--how {
  padding-block: 6rem;
}

// Section - Meals
.section--meals {
  padding-block: 6rem;

  // TODO: Easier way to make responsive
  // TODO: Perhaps don't use a "re-usable" Grid class!
  .grid {
    gap: 1.5rem;

    @include a.breakpoint(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include a.breakpoint(lg) {
      grid-template-columns: repeat(3, 1fr);
      gap: 4rem;
    }

    > :last-child {
      grid-row: 3;
      justify-self: center;

      @include a.breakpoint(sm) {
        grid-row: 2;
        grid-column: 1 / span 2;
      }

      @include a.breakpoint(lg) {
        grid-row: 1;
        grid-column-start: 3;
        justify-self: auto;
      }
    }
  }
}

// Section - Diets
.all-recipes {
  font-size: 1.125rem;
  text-align: center;
}

// Section - Testimonials
.section--testimonials {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: a.$color-grey-1;

  // Testimonials left half, gallery right half on lg
  @include a.breakpoint(lg) {
    grid-template-columns: 55fr 45fr;
  }
}

// Padding around only Testimonials -- NOT Gallery
.testimonials__container {
  padding: 4.8rem 1.6rem;

  // Add more padding at lg
  @include a.breakpoint(xl) {
    padding: 6rem;
  }
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 5rem;
  row-gap: 3rem;

  @include a.breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.testimonials__gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 1rem;

  @include a.breakpoint(md) {
    grid-template-columns: repeat(6, 1fr);
  }

  @include a.breakpoint(lg) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include a.breakpoint(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-item {
  // So when we enlarge the img on hover, the contents don't bleed out
  overflow: hidden;

  &:hover img {
    transform: scale(1.1);
  }

  img {
    transition: 0.3s ease-in-out;
  }
}
