$breakpoints-up: (
  // 560px -- Tailwind uses 640px
  sm: 35em,
  // 768px
  md: 48em,
  // 1024px
  lg: 64em,
  // 1,280px
  xl: 80em,
  // 1536px
  2xl: 96em
);

// 0.2px difference with breakpoints above -- this seems ideal
$breakpoints-down: (
  xs: 34.9875em,
  sm: 47.9875em,
  md: 63.9875em,
  lg: 79.9875em,
  xl: 95.9875em,
);

// Mixin for media queries -- mobile-first
@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints-up, $size);

  @media screen and (min-width: $breakpoint-value) {
    @content;
  }
}

// Mixin for media queries -- desktop-first
@mixin breakpoint-down($size) {
  $breakpoint-value: map-get($breakpoints-down, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content;
  }
}
