// Breakpoints
$max-width: 1200px;

/*** 01 TYPOGRAPHY ****
- Font Sizes - 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights
Default: 400

- Line Heights
Default: 1

- Spacing - 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

/**** 02 - COLORS ****/
// Grey Colors
$color-grey-1: #f2f2e9;
$color-grey-5: #555;
$color-grey-7: #333;

// Primary Colors
$color-primary-5: #e67e22;
$color-primary-6: #cf711f;
// Accent Colors

/**** 05 - SHADOWS ****/

/**** 06 - BORDER-RADIUS ****/

/**** 07 - WHITESPACE ****/
